# Login
USER=admin
PASSWORD=0123456789
SESSION_DURATION=24

# App
NEXT_PUBLIC_APP_URL=http://localhost:55781
SECRET=4715aed3216f7b0a38e6b534a958362654e96d10fbc04700770d572af3dce43625dd
#APIKEY=5saedXklbslhnapihe2pihp3pih4fdnakhjwq5

# =========================
# Database Configuration
# =========================
DB_DIALECT=mysql
DB_HOST=127.0.0.1
DB_PORT=8889
DB_NAME=flowxtra_serp
DB_USER=root
DB_PASSWORD=root


GOOGLE_CLIENT_ID=268567161580-352v2skqfc80eg4fdke82rs8mv0j1d58.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
ADWORDS_DEVELOPER_TOKEN=o1cDZhBcHZNy1KMmXImRyg
GOOGLE_REDIRECT_URI=http://localhost:55781/api/auth/google/callback
# Production URL (Uncomment on Server):
# GOOGLE_REDIRECT_URI=https://seo-agent.net/api/auth/google/callback

# Local SLM (AI) Configuration
SLM_API_URL=http://127.0.0.1:38474
SLM_API_KEY=not-needed-locally



###

#SCRAPER=scrapingrobot
#SCRAPINGROBOT_API_KEY=6c2086a9-d00b-4b9b-b943-09dccc0e0aed


##