# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.swc/

# next.js
/.next/
/out/

# production
/build

next-env.d.ts


#todo
TODO


.venv
*.gguf

# AI Models (Large Files)
/models/*
!models/README.md
!models/download_model.ps1
*.gguf
*.bin
*.safetensors
*.pt
*.pth
